body { margin:0; font-family:Arial; background:#f2f2f2; }

.header {
    display:flex;
    justify-content:space-between;
    background:#222;
    color:white;
    padding:15px;
}
nav ul { display:flex; list-style:none; }
nav ul li { margin:0 10px; }
nav a { color:white; text-decoration:none; }
nav a:hover { color:orange; }

.container {
    display:flex;
    justify-content:center;
    align-items:center;
    height:80vh;
}

.form-box {
    background:white;
    padding:30px;
    width:300px;
}

input { width:100%; margin:10px 0; padding:8px; }
button { width:100%; padding:10px; background:green; color:white; border:none; }